<div class="form-floating">
    <input id="@_inputFieldId" type="@Type" readonly class="form-control-plaintext" placeholder="@Placeholder" value="@Value">
    <label for="@_inputFieldId">@Label</label>
</div>
